[Unit]
Description=Heart Sound Diagnostic Service
After=bluetooth.target network.target
Wants=bluetooth.target

[Service]
User=pi
WorkingDirectory=/home/pi/FypPi
ExecStart=/home/pi/FypPi/.venv/bin/python main_pi.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
