[Unit]
Description=Heart Sound Watchdog
After=heartbeat.service
Requires=heartbeat.service

[Service]
User=root
WorkingDirectory=/home/pi/FypPi
ExecStart=/home/pi/FypPi/.venv/bin/python src/watchdog.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
